<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница админа</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="js/interfaceAdmin/menubarAdmin.js"></script>
    <script src="js/interfaceAdmin/buttonExitAdmin.js"></script>
    <script src="js/interfaceAdmin/buttonGetAddUserAdmin.js"></script>
    <script src="js/interfaceAdmin/buttonGetHistoryOfSellingAdmin.js"></script>
    <script src="js/interfaceAdmin/buttonGetHistoryOfPurchaseAdmin.js"></script>
    <script src="js/interfaceAdmin/buttonGetNomenclatureAdmin.js"></script>
    <script src="js/interfaceAdmin/displaybarAdmin.js"></script>
    <script src="js/interfaceAdmin/formGetUsersAdmin.js"></script>
    <script src="js/interfaceAdmin/formAddUserAdmin.js"></script>
    <script src="js/interfaceAdmin/formDeleteUserAdmin.js"></script>
    <script src="js/interfaceAdmin/databarAdmin.js"></script>
</head>
<body>
</body>
</html>