<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница админа</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="js/interfaceAdminAddOrDeleteUser/menubarAdmin.js"></script>
    <script src="js/interfaceAdminAddOrDeleteUser/buttonExitAdmin.js"></script>
    <script src="js/interfaceAdminAddOrDeleteUser/buttonGetAddUserAdmin.js"></script>
    <script src="js/interfaceAdminAddOrDeleteUser/buttonGetHistoryOfSellingAdmin.js"></script>
    <script src="js/interfaceAdminAddOrDeleteUser/buttonGetHistoryOfPurchaseAdmin.js"></script>
    <script src="js/interfaceAdminAddOrDeleteUser/buttonGetNomenclatureAdmin.js"></script>
    <script src="js/interfaceAdminAddOrDeleteUser/buttonGetStatistic.js"></script>
    <script src="js/interfaceAdminAddOrDeleteUser/displaybarAdmin.js"></script>
    <script src="js/interfaceAdminAddOrDeleteUser/formGetUsersAdmin.js"></script>
    <script src="js/interfaceAdminAddOrDeleteUser/formAddUserAdmin.js"></script>
    <script src="js/interfaceAdminAddOrDeleteUser/formDeleteUserAdmin.js"></script>
    <script src="js/interfaceAdminAddOrDeleteUser/databarAdmin.js"></script>
</head>
<body>
</body>
</html>