<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Возврат товара</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="js/interfaceAdminDeleteHistoryOfSelling/menubarAdmin.js"></script>
    <script src="js/interfaceAdminDeleteHistoryOfSelling/buttonExitAdmin.js"></script>
    <script src="js/interfaceAdminDeleteHistoryOfSelling/buttonGetAddUserAdmin.js"></script>
    <script src="js/interfaceAdminDeleteHistoryOfSelling/buttonGetHistoryOfSellingAdmin.js"></script>
    <script src="js/interfaceAdminDeleteHistoryOfSelling/buttonGetHistoryOfPurchaseAdmin.js"></script>
    <script src="js/interfaceAdminDeleteHistoryOfSelling/buttonGetNomenclatureAdmin.js"></script>
    <script src="js/interfaceAdminDeleteHistoryOfSelling/buttonGetStatistic.js"></script>
    <script src="js/interfaceAdminDeleteHistoryOfSelling/displaybarAdmin.js"></script>
    <script src="js/interfaceAdminDeleteHistoryOfSelling/formGetHistoryOfSellingAdmin.js"></script>
    <script src="js/interfaceAdminDeleteHistoryOfSelling/formTranzactionDeleteHistoryOfSellingAndAddToStoreageAdmin.js"></script>
    <script src="js/interfaceAdminDeleteHistoryOfSelling/databarAdmin.js"></script>
</head>
<body>
</body>
</html>