<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Номенклатура</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="js/interfaceAdminAddOrDeleteNomenclature/menubarAdmin.js"></script>
    <script src="js/interfaceAdminAddOrDeleteNomenclature/buttonExitAdmin.js"></script>
    <script src="js/interfaceAdminAddOrDeleteNomenclature/buttonGetAddUserAdmin.js"></script>
    <script src="js/interfaceAdminAddOrDeleteNomenclature/buttonGetHistoryOfSellingAdmin.js"></script>
    <script src="js/interfaceAdminAddOrDeleteNomenclature/buttonGetHistoryOfPurchaseAdmin.js"></script>
    <script src="js/interfaceAdminAddOrDeleteNomenclature/buttonGetNomenclatureAdmin.js"></script>
    <script src="js/interfaceAdminAddOrDeleteNomenclature/buttonGetStatistic.js"></script>
    <script src="js/interfaceAdminAddOrDeleteNomenclature/displaybarAdmin.js"></script>
    <script src="js/interfaceAdminAddOrDeleteNomenclature/formGetProductWithSortAdmin.js"></script>
    <script src="js/interfaceAdminAddOrDeleteNomenclature/formCreateSortAdmin.js"></script>
    <script src="js/interfaceAdminAddOrDeleteNomenclature/formDeleteSortAdmin.js"></script>
    <script src="js/interfaceAdminAddOrDeleteNomenclature/formCreateProductAdmin.js"></script>
    <script src="js/interfaceAdminAddOrDeleteNomenclature/formDeleteProductAdmin.js"></script>
    <script src="js/interfaceAdminAddOrDeleteNomenclature/databarAdmin.js"></script>
</head>
<body>
</body>
</html>