<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Доход</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="js/interfaceAdminGetStatistic/menubarAdmin.js"></script>
    <script src="js/interfaceAdminGetStatistic/buttonExitAdmin.js"></script>
    <script src="js/interfaceAdminGetStatistic/buttonGetAddUserAdmin.js"></script>
    <script src="js/interfaceAdminGetStatistic/buttonGetHistoryOfSellingAdmin.js"></script>
    <script src="js/interfaceAdminGetStatistic/buttonGetHistoryOfPurchaseAdmin.js"></script>
    <script src="js/interfaceAdminGetStatistic/buttonGetNomenclatureAdmin.js"></script>
    <script src="js/interfaceAdminGetStatistic/buttonGetStatistic.js"></script>
    <script src="js/interfaceAdminGetStatistic/displaybarAdmin.js"></script>
    <script src="js/interfaceAdminGetStatistic/formGetStatistic.js"></script>
</head>
<body>
</body>
</html>