<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Админ</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="js/interfeceLogist/menubarLogist.js"></script>
    <script src="js/interfeceLogist/buttonExitLogist.js"></script>
    <script src="js/interfeceLogist/displaybarLogist.js"></script>
    <script src="js/interfeceLogist/databarLogist.js"></script>
    <script src="js/interfeceLogist/formGetProductsWithSortLogist.js"></script>
    <script src="js/interfeceLogist/formAddSortLogis.js"></script>
    <script src="js/interfeceLogist/formDeleteSortLogist.js"></script>
    <script src="js/interfeceLogist/formAddProductLogist.js"></script>
    <script src="js/interfeceLogist/formDeleteProductLogist.js"></script>
    <script src="js/interfeceLogist/formTranzactionAddProductLogist.js"></script>
    <script src="js/interfeceLogist/formTranzactionDeleteProductLogist.js"></script>
</head>
<body>
</body>
</html>