<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Продавец</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
  <script src="js/interfaceSeller/menubarSeller.js"></script>
  <script src="js/interfaceSeller/buttonExitSeller.js"></script>
  <script src="js/interfaceSeller/displaybarSeller.js"></script>
  <script src="js/interfaceSeller/formTranzactionDeleteSeller.js"></script>
  <script src="js/interfaceSeller/databarSeller.js"></script>
</head>
<body>
</body>
</html>